[submodule "firmware/drivers/STM32CubeL4"]
	path = firmware/drivers/STM32CubeL4
	url = https://github.com/STMicroelectronics/STM32CubeL4.git
[submodule "firmware/lib/cfx"]
	path = firmware/lib/cfx
	url = https://github.com/BenjaminOlsen/cfx.git
